# игнорирование папок и файлов tmp
tmp/

# игнорирование файлов Thumbs.db
Thumbs.db

# игнорирование файлов .DS_Store
*.DS_Store

# игнорирование файлов, заканчивающихся суффиксами _old и _backup
*.*_old


*.*_backup